

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ddd;
    margin: 0;
    font-family:"Open Sans", sans-serif;
}

.nav{
    background-color: #111;
    width: 100%;
    float: left;
}
.nav-right{
    width: 20%;
    height: 50px;
    background-color:  #111;
    float: left;
    color: grey;
    line-height: 40px;
    margin-left: 10px;
}
.nav-left{
    width: 60%;
    height: 50px;
    background-color:  #111;
    float: right;
}
.nav-left a{
    text-decoration: none;
    color: gray;
    padding: 8px;
    line-height: 40px;
}
.nav-left a:hover{
border-bottom: 2px solid #e74c3c;

}

.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: rgba(11, 12, 12, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: none;
  
}
.opennav{
    color: #ddd;
    float: right;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 3rem;
    display: none;
    
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 34px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.swiper-container {
  width: 100%;
  height: 80vh;
  float: left;
  
}



.background-main{
    width: 100%;
    height: 80vh;
    background-color: #fff;
    float: left;
    
}

.background-main-text{
    width: 100%;
    height: 500px;
    background-color: transparent;
    float: left;
    margin-top: 25px;
}
.background-main-text h1{
    margin-top: 6rem;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.background-main-text h2{
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    font-size: 1.8rem;
    text-align: center;
}
.btn-cover{
  width: 100%;
}
button{
    cursor: pointer;
    margin-top: 22px;
    padding: 3px 15px;
    border-radius: 8px;
    background-color: #e74c3c;
    border: none;
    color:#fff;
    font-size: 1rem;
    margin-left: 45%;
    line-height: 35px;

}
button span{
    color: #fff;
    font-size: 2rem;
}



.row-title{
    margin-top: 15px;
    background-color: #e74c3c;
    width: 100%;
    height: 40px;
    float: left;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    line-height: 40px;
}
.product{
    height: 205px;
    width: 15%;
    margin-left: 13px;
    float: left;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    color: #242343;
}
.product img{
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
    height: 150px;
    width: 185px;
}
.product span,.product1 span,.product2 span{
    margin-left: 6px;
    color: rgba(0, 0, 0, 0.7);
}
.product1{
    height: 205px;
    width: 15%;
    margin-left: 13px;
    float: left;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    color: #242343;
}
.product1 img{
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
    height: 150px;
    width: 185px;
   
}


.product2{
    height: 205px;
    width: 15%;
    margin-left: 13px;
    float: left;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    color: #242343;
}
.product2 img{
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
    height: 150px;
    width: 185px;
   
}

.step1{
    height: 390px;
    width: 32%;
    float: left;
    background-color: #d3d3d3;
    margin-top: 15px;
    margin-left: 15px;

}
.step1 p{
  margin-left: 10px;
  color: #ddd;
  text-align: center;
}

.step1 .high-quality{
  width: 100%;
  float: left;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
}

.highproduct{
  height: 154px;
  width: 31%;
  float: left;
  background-color: #fff;
  color: #242343;
  margin-left: 8px;
  margin-top: 3px;
 
}
.highproduct-img{
  margin-left: 8px;
  margin-top: 3px;
  height:100px;
  width:110px;

}



.step2{
    height: 390px;
    width: 32%;
    float: left;
    background-color: #d3d3d3;
    margin-top: 12px;
    margin-left: 15px;
}

.step2 .high-quality1{
  width: 100%;
  float: left;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
}

.highproduct1{
  height: 154px;
  width: 31%;
  float: left;
  background-color: #fff;
  color: #242343;
  margin-left: 8px;
  margin-top: 3px;
 
}


.step3{
  height: 390px;
  width: 32%;
  float: left;
  background-color: #d3d3d3;
  margin-top: 15px;
  margin-left: 15px;
}
.step3 .high-quality2{
  width: 100%;
  float: left;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
}

.highproduct2{
  height: 154px;
  width: 31%;
  float: left;
  background-color: #fff;
  color: #242343;
  margin-left: 8px;
  margin-top: 3px;
 
}








.footer{
    width: 100%;
    float: left;
    height: 50Px;
    background-color: #111;
    text-align: center;
    color: #ddd;
    line-height: 40PX;

}





/* mobile view*/
@media (max-width: 700px){
    .nav-left{display: none; height: 40px;}
    .nav-left{display: none; height: 40px;}
    .sidenav{display: block;}
    .opennav{display: block;}

    .background-main-text{height: 340px; width: 90%;}
    .background-main-text h1{font-size: 1.5rem; margin-top: 7rem;}
    .background-main-text h2{font-size: 1.2rem;}
    button{margin-left: 28%; padding: 3px 10px;}
    
    .product{width: 45%;}
    .product img{width: 150px; height: 130px;}
    .product1{width: 45%;}
    .product1 img{width: 150px; height: 130px;}
    .product2{width: 45%;}
    .product2 img{width: 150px; height: 130px;}
    
    
    

    .step1,.step2,.step3{width: 100%; text-align: center; margin-left: 2px;}

    .highproduct-img{ height:80px; width:90px; margin-left: 4px;}
    .swiper-container { padding-bottom: 10px; }

}
    

/* Tablet view*/
@media screen and (min-width: 601px) and (max-width: 1200px){
 
  .background-main-text h1{ margin-top: 10rem;}
  .background-main-image img {width: 380px; top: 30rem; left: 68px;}
  button{margin-left: 40%;}
  .product{width: 30%;}
    .product img{width: 180px; height: 150px;}
    .product1{width: 30%;}
    .product1 img{width: 180px; height: 150px;}
    .product2{width: 30%;}
    .product2 img{width: 180px; height: 150px;}

    .step1,.step2, .step3{width: 60%; margin-left: 20%;}
    .highproduct-img{ height:90px; width:100px; margin-left: 4px;}
    
    
  
}
